* {
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
}

body {

    background-image: url("bg.jpg");
    background-repeat: repeat;
}

.jumbotron {
    background-color: white;
}

.tab-controller-wrap {
    margin-top: 10px;
}


.tab-control, .tab-control:hover, .tab-control.active{
    color: #fff;
    text-decoration: none;
}

.tab-control{
    padding: 10px 10px;
    background-color: #688f4e;
    border-bottom: 3px solid #2b463c;
}

.tab-control:hover {
    background-color:#b1d182;
}

.tab-control.active {
    background-color: #2b463c;
}

#tab-wrapper {
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
}

hr {
    border: 1px solid #688f4e;
}

.result {
    color: #2b463c;
    text-align: center;
    min-height: 20vh;
    background-color: #b1d182;
    border-radius: 10px;
    padding-top: 10px;
}

.result h2 {
    color: 	#f4f1e9;
    font-weight: 900;
    font-size: 50px;
}

.result h4 {
    font-weight: 600;
    font-size: 20px;
}

#title {
    font-weight: 900;
    color: #2b463c;
    text-align: center;
}

.footer {
    text-align: center;
    font-weight: 600;
}

input {
    border-radius: 10px;
    border: 3px solid;
}

input:focus { 
    border-radius: 10px;
    border: 4px solid #b1d182;
}

/* these inputs on focus are all fucked find out why */

label {
    font-size: large;
}
